<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.enation.app.javashop.mapper.member.ConnectSettingMapper">
    <!-- 获取后台信任登录参数集合 -->
    <select id="selectConnectSettingVo" resultType="com.enation.app.javashop.model.member.vo.ConnectSettingVO" useCache="false">
        select * from es_connect_setting
    </select>

</mapper>
