<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.enation.app.javashop.mapper.system.MessageMapper">

    <!--查询站内消息列表-->
    <select id="queryMessageDTOList" resultType="com.enation.app.javashop.model.system.dto.MessageDTO">
        select * from es_message
        <where>
                disabled = 0
            <if test="param.keyword != null and param.keyword != ''">
               and ( title like concat('%', #{param.keyword}, '%') or content like concat('%', #{param.keyword}, '%'))
            </if>
            <if test="param.title != null">
               and title like concat('%', #{param.title}, '%')
            </if>
            <if test="param.content != null">
                and content like concat('%', #{param.content}, '%')
            </if>

            <if test="param.sendType != null">
                and send_type = #{param.sendType}
            </if>
            <if test="param.startTime != null and param.startTime != 0 ">
                and send_time >= #{param.startTime}
            </if>
            <if test="param.endTime != null and param.endTime != 0 ">
                and send_time &lt;= #{param.endTime}
            </if>
        </where>
        order by send_time desc
    </select>

</mapper>
